In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("c:\\Users\\shaba\\PycharmProjects\\Data-Analysis\\Data\\data.csv")
data.head()

   Responder_id                          LanguagesWorkedWith
0             1              HTML/CSS;Java;JavaScript;Python
1             2                          C++;HTML/CSS;Python
2             3                                     HTML/CSS
3             4                          C;C++;C#;Python;SQL
4             5  C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA